body {
    color: black;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    margin-top: -0.67em;
    padding: 1px 4px;
    text-transform: uppercase;
    font-size: 1.33em;
    color: #3388FF;
    background-color: white;
}

body.dark {
    color: white;
    background-color: black;
}

h2.dark {
    background-color: black;
}

h2:hover {
    cursor: pointer;
}

h2:hover > span {
    color: black;
}

h2.dark:hover > span {
    color: white;
}

.form-group {
    margin: 8px 20px;
    font-size: 1.3em;
}

label {
    float: left;
    height: 20px;
    width: 25%;
}

::placeholder { 
    color: #999999;
    text-transform: initial;
  }

input {
    font-size: 12px;
    height: 20px;
    width: 74%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

#input-upper-text,
#input-lower-text {
    text-transform: uppercase;
}

.dark input {
    color: white;
    border-bottom: 1px solid #dddddd;
}

#form button, #memes button {
    font-weight: bold;
    cursor: pointer;
    background-color: #3388FF;
    color: white;
    border-color: transparent;
    margin-right: 4px;
    outline: none;
}

#form button:hover,
#memes button:hover {
    color: black;
    border-color: black;
}

body.dark #form button,
body.dark #memes button {
    color: black;
}

body.dark #form button:hover,
body.dark #memes button:hover {
    color: white;
    border-color: white;
}

div.meme {
    position: relative;
    float: left;
    max-width: 450px;
    margin: 20px;
    text-align: center;
}

div.meme button {
    visibility: hidden;
}

div.meme:hover button {
    visibility: initial;
} 

.text {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}

.upper {
    top: 0;
}

.lower {
    bottom: 24px;
}

img {
    max-width: 100%;
}

#help {
    clear: both;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

#help .item {
    float:left;
    max-width: 450px;
    margin: 20px;
    width: 100%;
}

#help button {
    color: #333333;
}

#help .theme-bar {
    color: white;
    background-color: black;
    padding: 0px 4px;
}

.dark #help .theme-bar {
    color: black;
    background-color: white;
}

#preview .meme img {
    border: 2px solid red;
    margin: -2px;
}

#preview .meme::after {
    color: red;
    content: "Preview only! Post meme to save.";
}

#preview button {
    display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    label, input {
        float: none;
        width: 100%;
    }
}

@media only screen and (min-width : 996px) {
    #help .item {
        width: 49%;
    }
}

@media only screen and (min-width : 1486px) {
    #help .item:nth-child(3) {
        clear: both;
    }
}