body {
    color: black;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    margin-top: -0.67em;
    padding: 1px 4px;
    text-transform: uppercase;
    font-size: 1.33em;
}

.dark {
    color: white;
    background-color: black;
}

.dark h2 {
    color: black;
    background-color: white;
}

h2:hover {
    color: #0066FF;
    cursor: pointer;
}

h2:hover > span {
    color: black;
}

h2.dark:hover > span {
    color: white;
}

.form-group {
    margin: 8px 20px;
    font-size: 1.3em;
}

label {
    float: left;
    height: 20px;
    width: 25%;
}

::placeholder { 
    color: #999999;
  }

input {
    font-size: 12px;
    height: 20px;
    width: 74%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

.dark input {
    color: white;
    border-bottom: 1px solid #dddddd;
}

button {
    font-weight: bold;
}

div.meme {
    position: relative;
    float: left;
    max-width: 450px;
    margin: 20px;
    text-align: center;
}

div.meme button {
    visibility: hidden;
    margin: 0 8px;
}

div.meme:hover button {
    visibility: initial;
} 

.text {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}

.upper {
    top: 0;
}

.lower {
    bottom: 24px;
}

img {
    max-width: 100%;
}

#preview .meme img {
    border: 2px solid red;
    margin: -2px;
}

#preview .meme::after {
    color: red;
    content: "Preview only! Post meme to save.";
}

#preview button {
    display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    label, input {
        float: none;
        width: 100%;
    }
}